#content {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

#greeting-container {
  margin-top: 20px;
}

#graph-div {
    overflow-x: auto; 
    overflow-y: hidden;   
    width: 80%;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
}

/*Style the previous entries in a grid format */
#past-entries-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
}
.entry{
    height: 200px;
    border: lightgray;
    border-width: 0.5px;
    /*border-radius:5%;*/
    border-style: solid;
    background-color: white;
    /*background-color: white;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 10px;

}
.entry-song, .entry-timestamp, .entry-mood{
    padding: 10px;
}
.entry-emoji{
    padding: 5px;
}
.entry .entry-top{
    background-color: black;
    color: white;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 2.5fr 2fr 0.5fr;
    width: auto;
    height: auto;
}
.entry .entry-text{
    padding: 10px;
    height: 50%;
    background-position: center center;
    background-image: url("images/linedpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* Img will cover entire element without stretching*/
    overflow: hidden; /* Disable horizontal scroll */
}

#title {
  display: inline;
}

#logout-button {
  float: right;
}

#login-button button {
  display: block;
  margin: 0 auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}
